body{
    margin: 0;
}

.logo{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #1f2525;

}.logo img{
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #1f2525;
    padding: 10px ;
    margin: 0;
    position: sticky;
    z-index: 4;
    top: 0;
}

.nav-t{
    width: 20%;
    margin: 0;
}.nav-t a{
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 220%;
    color: #f0f0f0;
    margin: 0 0 0 4%;
    padding: 0;
}

.nav-a{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: right;
    align-items: center;
}.nav-a a{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    margin: 0 12px 0;
    color: #f0f0f0;
    transition: text-decoration 0.5s ease, color 0.4s ease;
}.nav-a a:hover{
    color: rgba(213, 216, 35, 0.726);
    text-decoration: underline 1px double;
}
.icon{
    width: 26px;
    margin: 0;
}




